@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --color-red: #E1361D;
    --color-gray-ligth: #556370;
    --color-gray: #39434d;
    --color-dark: #2e2e2e;
    --color-white: #ffffff;
    --color-blue-shadow: #000d72;
    --color-black: #000;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'poppins';
    color: var(--color-white);
}

body {
    background-color: var(--color-black);
}

/* MENU */

header {
    padding: 0px 300px;
}

nav#navigate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    transition: .5s;
}

nav#navigate a#logo {
    font-weight: bold;
    font-size: 1.5em;
}

a#logo span {
    color: var(--color-red);
    text-shadow: 0px 0px 10px var(--color-red);
}

ul#nav-menu {
    display: flex;
    align-items: center;
}

ul#nav-menu a,
i {
    margin: 0em 1em;
    padding: .5em .5em;
    cursor: pointer;
    font-weight: 500;
    transition: .5s;
}

ul#nav-menu li a:hover,
i:hover {
    color: var(--color-red);
    cursor: pointer;
}

a#contact {
    background-color: var(--color-red);
    color: var(--color-white);
    border-radius: 30px;
    box-shadow: 0 0 20px var(--color-red);
}

a#contact:hover {
    background-color: transparent;
    box-shadow: none;
}

ul#nav-menu i {
    font-size: 1.2em;
}

div#menu {
    display: none;
    cursor: pointer;
}

div#menu span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--color-dark);
    margin: .3em 0em;
    border-radius: 50px;
    transition: .3s;
}

div#menu span:nth-child(1),
div#menu span:nth-child(3) {
    background-color: var(--color-gray);
}

/* SECTION PROFILE */

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 300px;
}

.profile {
    gap: 50px;
}

.profile div {
    max-width: 600px;
}

.profile h1 {
    font-size: 3em;
}

.profile p {
    margin: 15px 0px;
}

.links {
    margin: 30px 0px;
    display: flex;
    gap: 20px;
}

.links a i {
    margin: 0;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    padding: 10px 13px;
}

.links a i:hover {
    border: 1px solid var(--color-red);
    font-size: 1.1em;
}


.contact {
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--color-red);
    color: var(--color-white);
    box-shadow: 0 0 20px var(--color-red);
    transition: .3s;
}

.contact:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.img-profile {
    z-index: 1;
    box-shadow: 0 0 20px #e1371d6f;
    border-radius: 50%;
    margin: 30px 0;
    max-width: 400px;
    transition: .3s;
}

.img-profile:hover {
    box-shadow: 0 0 30px #e1371d6f;
    transform: scale(1.01);
    cursor: pointer;
}



/* SECTION SKILS */

.skils {
    flex-direction: column;
    gap: 30px;
}

.skils h1 {
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    display: flex;
    gap: 5px;
}

.skil {
    width: 100px;
    height: 150px;
    padding: 20px;
    background-color: var(--color-black);
    box-shadow: 0px 0px 5px var(--color-red);
    border: 1px solid var(--color-red);
    border-radius: 0 10px 10px 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: .3s;
}

.skil:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.skil img {
    background-color: var(--color-black);
    width: 100px;
}

.skil h2 {
    font-size: 1em;
    background-color: var(--color-black);
    color: var(--color-white);
}

/* SECTION PROJECTS */

.projects {
    flex-direction: column;
    background-color:var(--color-black);
}

.projects h1 {
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



@media screen and (max-width:450px) {

    section {
        flex-direction: column;
        text-align: center;
        height: 100%;
    }

    header {
        padding: 0px 50px;
    }

    .profile {
        padding: 30px 50px;
    }

    .links {
        justify-content: center;
    }

    img {
        width: 300px;
        height: 300px;
    }

    div#text {
        margin: 20px 0;
    }

    div#image img {
        width: 100vw;
    }

    div#text h1 {
        line-height: 1em;
    }

    nav#navigate {
        padding: 18px 20px;
    }

    div#menu {
        display: block;
    }

    div.ativo span:nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
    }

    div.ativo span:nth-child(2) {
        opacity: 0;
        transition: 0s
    }

    div.ativo span:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
    }

    ul#nav-menu {
        position: fixed;
        flex-direction: column;
        right: -100%;
        width: 100%;
        height: 100%;
        top: 70px;

    }

    ul#nav-menu li {
        margin: 3em 0;
    }

    ul#nav-menu i {
        margin-top: 1em;
    }

    ul#nav-menu.ativo {
        right: 0;
        transition: .5s;
    }

    button.ativo {
        display: none;
        transition: .2s;
    }

    .container {
        flex-direction: column;
    }
}