@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --color-red: #F24236;
    --color-blue: #2E5266;
    --color-dark: #2e2e2e;
    --color-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--color-dark);
    font-family: 'poppins';
}

nav#navigate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.175);
    transition: .5s;
}

nav#navigate a#logo {
    color: var(--color-red);
    font-weight: bold;
    font-size: 1.5em;
}

ul#nav-menu {
    display: flex;
    align-items: center;
}

ul#nav-menu a, i {
    margin: 0em 1em;
    padding:  .5em .5em;
    cursor: pointer;
    font-weight: 500;
}

ul#nav-menu li a:hover, i:hover {
    color: var(--color-red);
    transition: .5s;
}

ul#nav-menu i {
    font-size: 1.2em;
}

div#menu {
    display: none;
    cursor: pointer;
}

div#menu span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--color-dark);
    margin: .3em 0em;
    border-radius: 50px;
    transition: .3s;
}

div#menu span:nth-child(1),
div#menu span:nth-child(3) {
    background-color: var(--color-red);
}


@media screen and (max-width:450px) {
    
    nav#navigate {
        padding: 18px 20px;
    }

    div#menu {
        display: block;
    }

    div.ativo span:nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
    }

    div.ativo span:nth-child(2) {
        opacity: 0;
        transition: 0s
    }

    div.ativo span:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
    }
    
    ul#nav-menu {
        position: fixed;
        flex-direction: column;
        right: -100%;
        width: 100%;
        height: 100%;
        top: 70px;
        background-color: var(--color-white);
    }

    ul#nav-menu li {
        margin: 3em 0;
    }

    ul#nav-menu i {
        margin-top: 1em;
    }

    ul#nav-menu.ativo {
       right: 0;
       transition: .5s;
    }
}



